In [28]:
import pandas as pd
import numpy as np
import json

In [2]:
layoffs = pd.read_csv('layoffs.csv')
layoffs

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,N26,Berlin,Finance,71.0,0.04,2023-04-28,Series E,United States,1700.0
1,Providoor,Melbourne,Food,NaN,1.00,2023-04-28,Unknown,Australia,NaN
2,Dropbox,SF Bay Area,Other,500.0,0.16,2023-04-27,Post-IPO,United States,1700.0
3,Vroom,New York City,Transportation,120.0,0.11,2023-04-27,Post-IPO,United States,1300.0
4,Greenhouse,New York City,Recruiting,100.0,0.12,2023-04-27,Private Equity,United States,110.0
...,...,...,...,...,...,...,...,...,...
2540,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13,Seed,United States,1.0
2541,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12,Series C,United States,90.0
2542,EasyPost,Salt Lake City,Logistics,75.0,NaN,2020-03-11,Series A,United States,12.0
2543,Blackbaud,Charleston,Other,500.0,0.14,NaN,Post-IPO,United States,NaN
2544,Open,Bengaluru,Finance,47.0,NaN,NaN,Series D,India,190.0

In [3]:
# Table-Based Visualization - Total Layoffs Per Industry
layoffs_per_industry = pd.DataFrame(layoffs.groupby('industry')['total_laid_off'].sum())
layoffs_per_industry.to_csv('layoffs_per_industry.csv')
layoffs_per_industry

                total_laid_off
industry
Aerospace                661.0
Construction            3863.0
Consumer               56340.0
Crypto                 10785.0
Data                    5899.0
Education              14169.0
Energy                   802.0
Finance                30629.0
Fitness                 8898.0
Food                   33962.0
HR                      5899.0
Hardware               25208.0
Healthcare             27674.0
Infrastructure          5875.0
Legal                    836.0
Logistics               4026.0
Manufacturing            158.0
Marketing              10478.0
Media                   5869.0
Other                  39308.0
Product                 1233.0
Real Estate            18326.0
Recruiting              2890.0
Retail                 54825.0
Sales                  13216.0
Security                6770.0
Support                 3523.0
Transportation         37692.0
Travel                 17159.0

In [29]:
# Network-Based Visualization - Top 5 Companies with Most Layoffs Per Industry
companies_total = layoffs.groupby('company')['total_laid_off'].sum()
unique_companies = layoffs.drop_duplicates(subset='company')
unique_companies['total_laid_off'] = unique_companies['company'].apply(lambda x: companies_total[x])
sorted_df = unique_companies.sort_values(['industry', 'total_laid_off'], ascending=[True, False])
sorted_df = sorted_df[['company', 'industry', 'total_laid_off']]
top_5 = sorted_df.groupby('industry').head(5)

companies = top_5['company'].unique().tolist()
companies_dict = {}
idx = 1
for company in companies:
    companies_dict[company] = idx
    idx += 1

industries = top_5['industry'].unique().tolist()
industries_dict = {}
for industry in industries:
    industries_dict[industry] = idx
    idx += 1

source = [companies_dict[company] for company in top_5['company']]
target = [industries_dict[industry] for industry in top_5['industry']]
quantity = top_5['total_laid_off']
network_df = pd.DataFrame({'Source ID': source,
                          'Target ID': target,
                          'Quantity': quantity})

nodes = []
jsons = {}
links = []

for company, idx in companies_dict.items():
    tmp = {}
    tmp['id'] = idx
    tmp['name'] = company
    nodes.append(tmp)

for industry, idx in industries_dict.items():
    tmp = {}
    tmp['id'] = idx
    tmp['name'] = industry
    nodes.append(tmp)

for idx, row in network_df.iterrows():
    tmp = {}
    tmp['source'] = int(row['Source ID'])
    tmp['target'] = int(row['Target ID'])
    tmp['value'] = int(row['Quantity'])
    links.append(tmp)
    
jsons['nodes'] = nodes
jsons['links'] = links

with open('network.json', 'w') as f:
    json.dump(jsons, f)
jsons

/var/folders/sj/jg6wglwj02gblm1c19s91w6w0000gn/T/ipykernel_90752/2505581898.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_companies['total_laid_off'] = unique_companies['company'].apply(lambda x: companies_total[x])

{'nodes': [{'id': 1, 'name': 'OneWeb'},
  {'id': 2, 'name': 'Kitty Hawk'},
  {'id': 3, 'name': 'Astra'},
  {'id': 4, 'name': 'AirMap'},
  {'id': 5, 'name': 'Katerra'},
  {'id': 6, 'name': 'RenoRun'},
  {'id': 7, 'name': 'Procore'},
  {'id': 8, 'name': 'Yojak'},
  {'id': 9, 'name': 'Tul'},
  {'id': 10, 'name': 'Meta'},
  {'id': 11, 'name': 'Google'},
  {'id': 12, 'name': 'Twitter'},
  {'id': 13, 'name': 'Bytedance'},
  {'id': 14, 'name': 'Yahoo'},
  {'id': 15, 'name': 'Crypto.com'},
  {'id': 16, 'name': 'Coinbase'},
  {'id': 17, 'name': 'Kraken'},
  {'id': 18, 'name': 'Bybit'},
  {'id': 19, 'name': 'Huobi'},
  {'id': 20, 'name': 'NetApp'},
  {'id': 21, 'name': 'UiPath'},
  {'id': 22, 'name': 'Informatica'},
  {'id': 23, 'name': 'Splunk'},
  {'id': 24, 'name': 'Rackspace'},
  {'id': 25, 'name': "Byju's"},
  {'id': 26, 'name': 'WhiteHat Jr'},
  {'id': 27, 'name': 'Unacademy'},
  {'id': 28, 'name': 'Vedantu'},
  {'id': 29, 'name': 'Skill Lync'},
  {'id': 30, 'name': 'Workrise'},
  {'id': 31, 'name': 'RigUp'},
  {'id': 32, 'name': 'Colossus'},
  {'id': 33, 'name': 'Brighte'},
  {'id': 34, 'name': 'Ecobee'},
  {'id': 35, 'name': 'PayPal'},
  {'id': 36, 'name': 'PaisaBazaar'},
  {'id': 37, 'name': 'Stone'},
  {'id': 38, 'name': 'Capital One'},
  {'id': 39, 'name': 'Doma'},
  {'id': 40, 'name': 'Peloton'},
  {'id': 41, 'name': 'MindBody'},
  {'id': 42, 'name': 'Noom'},
  {'id': 43, 'name': 'CureFit'},
  {'id': 44, 'name': 'Flywheel Sports'},
  {'id': 45, 'name': 'Flink'},
  {'id': 46, 'name': 'Swiggy'},
  {'id': 47, 'name': 'Gopuff'},
  {'id': 48, 'name': 'Instacart'},
  {'id': 49, 'name': 'Just Eat'},
  {'id': 50, 'name': 'Indeed'},
  {'id': 51, 'name': 'LinkedIn'},
  {'id': 52, 'name': 'Workday'},
  {'id': 53, 'name': 'Glassdoor'},
  {'id': 54, 'name': 'UKG'},
  {'id': 55, 'name': 'Micron'},
  {'id': 56, 'name': 'Dell'},
  {'id': 57, 'name': 'IBM'},
  {'id': 58, 'name': 'Seagate'},
  {'id': 59, 'name': 'Lam Research'},
  {'id': 60, 'name': 'Philips'},
  {'id': 61, 'name': 'Invitae'},
  {'id': 62, 'name': 'CoverMyMeds'},
  {'id': 63, 'name': 'GoHealth'},
  {'id': 64, 'name': 'Sema4'},
  {'id': 65, 'name': 'Cisco'},
  {'id': 66, 'name': 'New Relic'},
  {'id': 67, 'name': 'Nutanix'},
  {'id': 68, 'name': 'DigitalOcean'},
  {'id': 69, 'name': 'ScaleFocus'},
  {'id': 70, 'name': 'Notarize'},
  {'id': 71, 'name': 'Relativity'},
  {'id': 72, 'name': 'SirionLabs'},
  {'id': 73, 'name': 'DISCO'},
  {'id': 74, 'name': 'CS Disco'},
  {'id': 75, 'name': 'Loggi'},
  {'id': 76, 'name': 'Flexport'},
  {'id': 77, 'name': 'KeepTruckin'},
  {'id': 78, 'name': 'FarEye'},
  {'id': 79, 'name': 'Samsara'},
  {'id': 80, 'name': 'Coherent'},
  {'id': 81, 'name': 'Syft Technologies'},
  {'id': 82, 'name': 'Augury'},
  {'id': 83, 'name': 'CreateMe'},
  {'id': 84, 'name': 'OLX Group'},
  {'id': 85, 'name': 'GoDaddy'},
  {'id': 86, 'name': 'Hootsuite'},
  {'id': 87, 'name': 'HubSpot'},
  {'id': 88, 'name': 'Wix'},
  {'id': 89, 'name': 'Spotify'},
  {'id': 90, 'name': 'Netflix'},
  {'id': 91, 'name': 'SiriusXM'},
  {'id': 92, 'name': 'Roku'},
  {'id': 93, 'name': 'BuzzFeed'},
  {'id': 94, 'name': 'Microsoft'},
  {'id': 95, 'name': 'Ericsson'},
  {'id': 96, 'name': 'SAP'},
  {'id': 97, 'name': 'Twilio'},
  {'id': 98, 'name': 'PuduTech'},
  {'id': 99, 'name': 'Airtable'},
  {'id': 100, 'name': 'GitLab'},
  {'id': 101, 'name': 'Productboard'},
  {'id': 102, 'name': 'Bryter'},
  {'id': 103, 'name': 'Mural'},
  {'id': 104, 'name': 'Better.com'},
  {'id': 105, 'name': 'Zillow'},
  {'id': 106, 'name': 'Redfin'},
  {'id': 107, 'name': 'Opendoor'},
  {'id': 108, 'name': 'Loft'},
  {'id': 109, 'name': 'ZipRecruiter'},
  {'id': 110, 'name': 'Greenhouse'},
  {'id': 111, 'name': 'Hirect'},
  {'id': 112, 'name': 'Andela'},
  {'id': 113, 'name': 'Gem'},
  {'id': 114, 'name': 'Amazon'},
  {'id': 115, 'name': 'Groupon'},
  {'id': 116, 'name': 'Wayfair'},
  {'id': 117, 'name': 'Stitch Fix'},
  {'id': 118, 'name': 'Shutterfly'},
  {'id': 119, 'name': 'Salesforce'},
  {'id': 120, 'name': 'DocuSign'},
  {'id': 121, 'name': 'ServiceTitan'},
  {'id': 122, 'name': 'Pipedrive'},
  {'id': 123, 'name': '6sense'},
  {'id': 124, 'name': 'OneTrust'},
  {'id': 125, 'name': 'F5'},
  {'id': 126, 'name': 'Sophos'},
  {'id': 127, 'name': 'Snyk'},
  {'id': 128, 'name': 'Latch'},
  {'id': 129, 'name': 'Amdocs'},
  {'id': 130, 'name': 'Zendesk'},
  {'id': 131, 'name': '8x8'},
  {'id': 132, 'name': 'TaskUs'},
  {'id': 133, 'name': 'LivePerson'},
  {'id': 134, 'name': 'Uber'},
  {'id': 135, 'name': 'Carvana'},
  {'id': 136, 'name': 'Lyft'},
  {'id': 137, 'name': 'Ola'},
  {'id': 138, 'name': 'GoTo Group'},
  {'id': 139, 'name': 'Booking.com'},
  {'id': 140, 'name': 'Airbnb'},
  {'id': 141, 'name': 'OYO'},
  {'id': 142, 'name': 'Agoda'},
  {'id': 143, 'name': 'Vacasa'},
  {'id': 144, 'name': 'Aerospace'},
  {'id': 145, 'name': 'Construction'},
  {'id': 146, 'name': 'Consumer'},
  {'id': 147, 'name': 'Crypto'},
  {'id': 148, 'name': 'Data'},
  {'id': 149, 'name': 'Education'},
  {'id': 150, 'name': 'Energy'},
  {'id': 151, 'name': 'Finance'},
  {'id': 152, 'name': 'Fitness'},
  {'id': 153, 'name': 'Food'},
  {'id': 154, 'name': 'HR'},
  {'id': 155, 'name': 'Hardware'},
  {'id': 156, 'name': 'Healthcare'},
  {'id': 157, 'name': 'Infrastructure'},
  {'id': 158, 'name': 'Legal'},
  {'id': 159, 'name': 'Logistics'},
  {'id': 160, 'name': 'Manufacturing'},
  {'id': 161, 'name': 'Marketing'},
  {'id': 162, 'name': 'Media'},
  {'id': 163, 'name': 'Other'},
  {'id': 164, 'name': 'Product'},
  {'id': 165, 'name': 'Real Estate'},
  {'id': 166, 'name': 'Recruiting'},
  {'id': 167, 'name': 'Retail'},
  {'id': 168, 'name': 'Sales'},
  {'id': 169, 'name': 'Security'},
  {'id': 170, 'name': 'Support'},
  {'id': 171, 'name': 'Transportation'},
  {'id': 172, 'name': 'Travel'}],
 'links': [{'source': 1, 'target': 144, 'value': 451},
  {'source': 2, 'target': 144, 'value': 170},
  {'source': 3, 'target': 144, 'value': 40},
  {'source': 4, 'target': 144, 'value': 0},
  {'source': 5, 'target': 145, 'value': 3074},
  {'source': 6, 'target': 145, 'value': 280},
  {'source': 7, 'target': 145, 'value': 180},
  {'source': 8, 'target': 145, 'value': 140},
  {'source': 9, 'target': 145, 'value': 100},
  {'source': 10, 'target': 146, 'value': 21000},
  {'source': 11, 'target': 146, 'value': 12000},
  {'source': 12, 'target': 146, 'value': 3940},
  {'source': 13, 'target': 146, 'value': 3750},
  {'source': 14, 'target': 146, 'value': 1600},
  {'source': 15, 'target': 147, 'value': 2260},
  {'source': 16, 'target': 147, 'value': 2110},
  {'source': 17, 'target': 147, 'value': 1100},
  {'source': 18, 'target': 147, 'value': 600},
  {'source': 19, 'target': 147, 'value': 575},
  {'source': 20, 'target': 148, 'value': 960},
  {'source': 21, 'target': 148, 'value': 451},
  {'source': 22, 'target': 148, 'value': 450},
  {'source': 23, 'target': 148, 'value': 395},
  {'source': 24, 'target': 148, 'value': 275},
  {'source': 25, 'target': 149, 'value': 4000},
  {'source': 26, 'target': 149, 'value': 2100},
  {'source': 27, 'target': 149, 'value': 1500},
  {'source': 28, 'target': 149, 'value': 1109},
  {'source': 29, 'target': 149, 'value': 400},
  {'source': 30, 'target': 150, 'value': 450},
  {'source': 31, 'target': 150, 'value': 120},
  {'source': 32, 'target': 150, 'value': 97},
  {'source': 33, 'target': 150, 'value': 88},
  {'source': 34, 'target': 150, 'value': 47},
  {'source': 35, 'target': 151, 'value': 2083},
  {'source': 36, 'target': 151, 'value': 1500},
  {'source': 37, 'target': 151, 'value': 1300},
  {'source': 38, 'target': 151, 'value': 1100},
  {'source': 39, 'target': 151, 'value': 1075},
  {'source': 40, 'target': 152, 'value': 4084},
  {'source': 41, 'target': 152, 'value': 1100},
  {'source': 42, 'target': 152, 'value': 995},
  {'source': 43, 'target': 152, 'value': 800},
  {'source': 44, 'target': 152, 'value': 784},
  {'source': 45, 'target': 153, 'value': 8000},
  {'source': 46, 'target': 153, 'value': 2880},
  {'source': 47, 'target': 153, 'value': 2400},
  {'source': 48, 'target': 153, 'value': 1877},
  {'source': 49, 'target': 153, 'value': 1700},
  {'source': 50, 'target': 154, 'value': 2200},
  {'source': 51, 'target': 154, 'value': 960},
  {'source': 52, 'target': 154, 'value': 525},
  {'source': 53, 'target': 154, 'value': 440},
  {'source': 54, 'target': 154, 'value': 265},
  {'source': 55, 'target': 155, 'value': 7200},
  {'source': 56, 'target': 155, 'value': 6650},
  {'source': 57, 'target': 155, 'value': 3900},
  {'source': 58, 'target': 155, 'value': 3480},
  {'source': 59, 'target': 155, 'value': 1300},
  {'source': 60, 'target': 156, 'value': 10000},
  {'source': 61, 'target': 156, 'value': 1000},
  {'source': 62, 'target': 156, 'value': 800},
  {'source': 63, 'target': 156, 'value': 800},
  {'source': 64, 'target': 156, 'value': 750},
  {'source': 65, 'target': 157, 'value': 4100},
  {'source': 66, 'target': 157, 'value': 290},
  {'source': 67, 'target': 157, 'value': 270},
  {'source': 68, 'target': 157, 'value': 200},
  {'source': 69, 'target': 157, 'value': 120},
  {'source': 70, 'target': 158, 'value': 170},
  {'source': 71, 'target': 158, 'value': 150},
  {'source': 72, 'target': 158, 'value': 130},
  {'source': 73, 'target': 158, 'value': 75},
  {'source': 74, 'target': 158, 'value': 62},
  {'source': 75, 'target': 159, 'value': 800},
  {'source': 76, 'target': 159, 'value': 640},
  {'source': 77, 'target': 159, 'value': 349},
  {'source': 78, 'target': 159, 'value': 340},
  {'source': 79, 'target': 159, 'value': 300},
  {'source': 80, 'target': 160, 'value': 108},
  {'source': 81, 'target': 160, 'value': 30},
  {'source': 82, 'target': 160, 'value': 20},
  {'source': 83, 'target': 160, 'value': 0},
  {'source': 84, 'target': 161, 'value': 1500},
  {'source': 85, 'target': 161, 'value': 981},
  {'source': 86, 'target': 161, 'value': 520},
  {'source': 87, 'target': 161, 'value': 500},
  {'source': 88, 'target': 161, 'value': 470},
  {'source': 89, 'target': 162, 'value': 615},
  {'source': 90, 'target': 162, 'value': 505},
  {'source': 91, 'target': 162, 'value': 475},
  {'source': 92, 'target': 162, 'value': 400},
  {'source': 93, 'target': 162, 'value': 360},
  {'source': 94, 'target': 163, 'value': 10000},
  {'source': 95, 'target': 163, 'value': 8500},
  {'source': 96, 'target': 163, 'value': 3000},
  {'source': 97, 'target': 163, 'value': 2300},
  {'source': 98, 'target': 163, 'value': 1500},
  {'source': 99, 'target': 164, 'value': 254},
  {'source': 100, 'target': 164, 'value': 130},
  {'source': 101, 'target': 164, 'value': 100},
  {'source': 102, 'target': 164, 'value': 100},
  {'source': 103, 'target': 164, 'value': 90},
  {'source': 104, 'target': 165, 'value': 3900},
  {'source': 105, 'target': 165, 'value': 2300},
  {'source': 106, 'target': 165, 'value': 1769},
  {'source': 107, 'target': 165, 'value': 1710},
  {'source': 108, 'target': 165, 'value': 1289},
  {'source': 109, 'target': 166, 'value': 400},
  {'source': 110, 'target': 166, 'value': 220},
  {'source': 111, 'target': 166, 'value': 200},
  {'source': 112, 'target': 166, 'value': 135},
  {'source': 113, 'target': 166, 'value': 100},
  {'source': 114, 'target': 167, 'value': 27150},
  {'source': 115, 'target': 167, 'value': 3800},
  {'source': 116, 'target': 167, 'value': 2620},
  {'source': 117, 'target': 167, 'value': 1730},
  {'source': 118, 'target': 167, 'value': 1160},
  {'source': 119, 'target': 168, 'value': 10090},
  {'source': 120, 'target': 168, 'value': 1351},
  {'source': 121, 'target': 168, 'value': 221},
  {'source': 122, 'target': 168, 'value': 174},
  {'source': 123, 'target': 168, 'value': 150},
  {'source': 124, 'target': 169, 'value': 1100},
  {'source': 125, 'target': 169, 'value': 723},
  {'source': 126, 'target': 169, 'value': 450},
  {'source': 127, 'target': 169, 'value': 356},
  {'source': 128, 'target': 169, 'value': 335},
  {'source': 129, 'target': 170, 'value': 700},
  {'source': 130, 'target': 170, 'value': 430},
  {'source': 131, 'target': 170, 'value': 355},
  {'source': 132, 'target': 170, 'value': 238},
  {'source': 133, 'target': 170, 'value': 223},
  {'source': 134, 'target': 171, 'value': 7585},
  {'source': 135, 'target': 171, 'value': 4000},
  {'source': 136, 'target': 171, 'value': 2814},
  {'source': 137, 'target': 171, 'value': 2800},
  {'source': 138, 'target': 171, 'value': 1900},
  {'source': 139, 'target': 172, 'value': 4601},
  {'source': 140, 'target': 172, 'value': 1930},
  {'source': 141, 'target': 172, 'value': 1850},
  {'source': 142, 'target': 172, 'value': 1500},
  {'source': 143, 'target': 172, 'value': 1300}]}

In [ ]:
# Geometry-Based Visualization - Layoffs in the United States

def city_to_state(city):
    us_states = {
        'Albany': 'New York',
        'Ann Arbor': 'Michigan',
        'Atlanta': 'Georgia',
        'Austin': 'Texas',
        'Baltimore': 'Maryland',
        'Baton Rouge': 'Louisiana',
        'Beijing': None,  # Not in the US
        'Bend': 'Oregon',
        'Berlin': None,  # Not in the US
        'Birmingham': 'Alabama',
        'Bismarck': 'North Dakota',
        'Boise': 'Idaho',
        'Boston': 'Massachusetts',
        'Boulder': 'Colorado',
        'Brisbane': None,  # Not in the US
        'Burlington': 'Vermont',
        'Charleston': 'South Carolina',
        'Charlotte': 'North Carolina',
        'Chennai': None,  # Not in the US
        'Chicago': 'Illinois',
        'Cincinnati': 'Ohio',
        'Cleveland': 'Ohio',
        'Columbus': 'Ohio',
        'Copenhagen': None,  # Not in the US
        'Dallas': 'Texas',
        'Davenport': 'Iowa',
        'Denver': 'Colorado',
        'Detroit': 'Michigan',
        'Dover': 'Delaware',
        'Dubai': None,  # Not in the US
        'Durham': 'North Carolina',
        'Eindhoven': None,  # Not in the US
        'Fayetteville': 'Arkansas',
        'Grand Rapids': 'Michigan',
        'Houston': 'Texas',
        'Huntsville': 'Alabama',
        'Indianapolis': 'Indiana',
        'Jersey City': 'New Jersey',
        'Kansas City': 'Missouri',
        'Las Vegas': 'Nevada',
        'Lehi': 'Utah',
        'Lexington': 'Kentucky',
        'Little Rock': 'Arkansas',
        'Logan': 'Utah',
        'London': None,  # Not in the US
        'Los Angeles': 'California',
        'Louisville': 'Kentucky',
        'Madison': 'Wisconsin',
        'Melbourne': None,  # Not in the US
        'Mexico City': None,  # Not in the US
        'Miami': 'Florida',
        'Milwaukee': 'Wisconsin',
        'Minneapolis': 'Minnesota',
        'Missoula': 'Montana',
        'Nashua': 'New Hampshire',
        'Nashville': 'Tennessee',
        'Nebraska City': 'Nebraska',
        'New Delhi': None,  # Not in the US
        'New Haven': 'Connecticut',
        'New Hope': 'Pennsylvania',
        'New Orleans': 'Louisiana',
        'New York City': 'New York',
        'Norwalk': 'Connecticut',
        'Orlando': 'Florida',
        'Oxford': None,  # Not in the US
        'Philadelphia': 'Pennsylvania',
        'Phoenix': 'Arizona',
        'Pittsburgh': 'Pennsylvania',
        'Portland': 'Oregon',
        'Providence': 'Rhode Island',
        'Raleigh': 'North Carolina',
        'Reno': 'Nevada',
        'Richmond': 'Virginia',
        'SF Bay Area': 'California',
        'Sacramento': 'California',
        'Salt Lake City': 'Utah',
        'San Antonio': 'Texas',
        'San Diego': 'California',
        'San Luis Obispo': 'California',
        'Santa Barbara': 'California',
        'Santa Fe': 'New Mexico',
        'Sao Paulo': None,  # Not in the US
        'Seattle': 'Washington',
        'Selangor': None,  # Not in the US
        'Singapore': None,  # Not in the US
        'Spokane': 'Washington',
        'St. Louis': 'Missouri',
        'Stamford': 'Connecticut',
        'Stockholm': None,  # Not in the US
        'Sydney': None,  # Not in the US
        'Tampa Bay': 'Florida',
        'Tel Aviv': None,  # Not in the US
        'Tokyo': None,  # Not in the US
        'Toronto': None,  # Not in the US
        'Vancouver': None,  # Not in the US
        'Washington D.C.': 'District of Columbia',
        'Wilmington': 'Delaware'
    }
    
    return us_states[city]

all_states = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
    'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
    'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
    'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
    'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
    'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
    'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
]

us_layoffs = layoffs[(layoffs['country'] == 'United States')]
us_layoffs['location'] = us_layoffs['location'].apply(city_to_state)
us_layoffs = us_layoffs[pd.isna(us_layoffs['location']) != True]
us_layoffs = pd.DataFrame(us_layoffs.groupby('location')['total_laid_off'].sum()).reset_index()
us_layoffs = us_layoffs.set_index('location').reindex(all_states).fillna(0).reset_index()
us_layoffs.to_csv('us_layoffs.csv', index=False)
us_layoffs